.fav-page {
    // padding: 0 1rem;
    text-align: center;

    h2 {
        margin-top: 0;
    }

    p {
        margin: 1.5rem;
        line-height: 1.5;
    }

    @include mq($tablet) {
        h2 {
            margin-top: 3rem;
        }

    }
}