.fav-page {
    text-align: center;

    h2 {
        margin-top: 0;
    }

    p {
        margin: 1.5rem;
        line-height: 1.5;
    }

    a {
        text-decoration: none;
        font-weight: 700;
    }

    @include mq($tablet) {
        h2 {
            margin-top: 1rem;
        }

    }
}