// Body
body {
    background-color: black;
    color: $textColor;
    

    .fav-btn {
        background-color: rgba(black, 0.4);
        border: none;
        border-radius: 20px;
        padding: .45rem;

        &:focus {
            outline: none;
        }

        .fa-heart {
            font-size: 1.2rem;
            color: $textColor;
        }

    }

    .rating {
        color: $textColor-2;
        font-weight: 700;
        font-size: 1.5rem;
    }

}

// Main
main {
    min-height: 100vh;
}

// Wrapper
.wrapper {
    max-width: 120rem;
    margin: 0 auto;
    
}