// Header
header {
    padding: .5rem 0;
    background: linear-gradient(0deg, rgba(29,29,31,1) 20%, #402738 100%);

    .logo {
        width: 100px;
        transition: all .4s ease-in-out;
        margin: 1rem 0 0 1.5rem;

        &:hover {
            transform: scale(1.05);
        }
    }

   
    a {
        text-decoration: none;
    }

    @include mq($tablet){
        padding: .5rem 2rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .logo {
            width: 120px;
            margin: 1rem;
        }
        
    }

    @include mq($desktop){
        padding: .5rem 3rem 3rem;
        
    }

}