// Header
header {
    padding: .5rem .25rem 0;

    .logo {
        width: 130px;
        transition: all .5s ease;

        &:hover {
            transform: scale(1.05);
        }
    }

   
    a {
        text-decoration: none;
    }

    @include mq($tablet){
        margin: .5rem 1.5rem;
        @include flex-layout-row;
        flex-wrap: nowrap;
        align-items: flex-end;
        
        .logo {
            width: 160px;
        }
    }

}