nav {
    a {
        display: block;
        text-align: center;
        text-decoration: none;
    }

}

.nav-bar {

    margin: 1.5rem 0;
    position: relative;

    a {
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 1.1rem;
        padding: .8rem;
        opacity: .65;
        transition: all .4s ease-in-out;

        &:hover, &.active {
            opacity: 1;
        }
    }

    .search-icon {
        font-size: 1.2rem;
    }

    //hide desktop navigation
    .navigation {
        display: none;
    }

    //mobile navigation
    .mobile-navigation{
        position: relative;
        
        .hamburger, .closeicon {
            font-size: 1.5rem;
            cursor: pointer;
            position: absolute;
            right: 1.2rem;
            top: -6rem;
        }

        ul {
            @include flex-column;
            width: 100%;
            height: 50vh;
            margin: 0;
            padding: 0;
            list-style: none;
            position: absolute;
            left: 0;
            right: 0;
            top: -2rem;
            z-index: 1000;
            background-color: $bgColour;
            text-align: center;

            li {
                padding: .5rem 0;
            }
        }

       
    }

    @include mq($tablet) {

        margin: .5rem 0;

        .mobile-navigation {
            display: none;
        }

        .navigation {
            display: flex;

            ul {
                padding: 0;
                list-style: none;
                @include flex-layout-row;
        
            }
        }

    }

}


// Sorting dropdown menu
// remove default styles
// code modified from https://www.sliderrevolution.com/resources/css-select-styles/
select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    color: $textColor;
  
    // Stack above custom arrow
    z-index: 1;
  
    // Remove dropdown arrow in IE10 & IE11
    &::-ms-expand {
      display: none;
    }
  
    outline: none;
}

.select {
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;
    color: $textColor;

    select, &::after {
        grid-area: select;
    }

    width: 200px;
    margin: 0 auto;

    border: 2px solid $textColor;
    border-radius: 10px;
    padding: 0.25rem 0.5rem;

    font-size: 1.1rem;
    cursor: pointer;
    line-height: 1.1;

    // Custom arrow
    &:not(.select--multiple)::after {
        content: "";
        justify-self: end;
        width: 0.8em;
        height: 0.5em;
        background-color: $textColor;
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    }

    @include mq($tablet) {

        margin-left: 3rem;

    }

    @include mq($desktop) {

        margin-left: 4rem;
        width: 250px;

    }
}