.search {

    input[type='text'] {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.2rem;
      display: block;
      padding: 10px;
      border: 0;
      border-radius: 5px;
      width: 80%;
      margin: auto;
      outline: none;
    }

    .no-results {
      text-align: center;
      margin: 1.5rem;
      font-size: 1.2rem;
    }
  }
  