// Type

@font-face {
    font-family: 'Night Club 70s';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/night_club_70s_bold-webfont.woff2') format('woff2')
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: white;
}

