// Variables

// Colors
$textColor: white;
$textColor-2: #FFCC00;
$featureColor: #0362fc;
$highlightColor:#33FFFF;
$hightlightColor-2: #f28cf2;
$bgColour: #1D1D1F;

// Breakpoints
$tablet: 600;
$desktop: 1200;

